@font-face {
  font-family: "bluecobra";
  src: url("../font/bluecobra.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "bluecobrahalf";
  src: url("../font/bluecobrahalf.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "bluecobralaser";
  src: url("../font/bluecobralaser.ttf");
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: #ff6100;
  margin: 0%;
  margin-bottom: 0%;
}

#main-catalogo {
  height: 70vh;
  letter-spacing: 5px;
  background-color: #ff6100;
  margin: 0%;
  margin-bottom: 0%;
}

#titulo-catalogo {
  font-family: "bluecobralaser";
  text-align: left;
  margin-left: 5%;
  font-size: 350%;
  font-weight: 100;
}

#subtitulo-catalogo {
  text-align: left;
  font-family: "bluecobra";
  margin-top: 0%;
  margin-left: 10%;
  font-size: 225%;
  font-weight: 100;
}

.link-catalogo {
  font-family: "bluecobra";
  display: block;
  text-align: right;
  margin-right: 5%;
  margin-top: 20%;
  margin-bottom: 5%;
  font-size: 140%;
  opacity: 80%;
  text-decoration: none;
  color: #050505;
  font-weight: 300;
}