/* TEXTO */
@font-face {
  font-family: "bluecobra";
  src: url("./font/bluecobra.ttf");
  font-style: normal;
  font-weight: normal;
}
/* TITULAR */
@font-face {
  font-family: "bluecobrahalf";
  src: url("./font/bluecobrahalf.ttf");
  font-style: normal;
  font-weight: normal;
}
/* DERECHA */
@font-face {
  font-family: "bluecobraital";
  src: url("./font/bluecobraital.ttf");
  font-style: normal;
  font-weight: normal;
}
/* IZQUIERDA */
@font-face {
  font-family: "bluecobraleft";
  src: url("./font/bluecobraleft.ttf");
  font-style: normal;
  font-weight: normal;
}
/* LINEA */
@font-face {
  font-family: "bluecobralaser";
  src: url("./font/bluecobralaser.ttf");
  font-style: normal;
  font-weight: normal;
}
body, html {
  margin: 0;
  padding: 0;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #ff6100;
}

.grid-cotenedor {
  height: 100%;
  width: 100%;
  margin: 0rem;
  padding: 0rem;
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr;
  grid-template-areas: ". ti ." "no lo ca" ". su ." ". co ." "fo fo fo";
  /* TELEFONO GRANDE */
  /* TELEFONO CHICO */
}
@media only screen and (max-width: 415px) {
  .grid-cotenedor {
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: "ti ti ti" ". lo ." "su su su" "no . ca" ". co ." "fo fo fo";
  }
}
@media only screen and (max-width: 415px) {
  .grid-cotenedor {
    grid-template-columns: 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
    grid-template-areas: "ti ti" "lo lo" "su su" "no ca" "co co" "fo fo";
  }
}

/* -------------- WELCOME -------------- */
.titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  font-family: "bluecobrahalf";
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #050505;
  grid-area: ti;
  animation-name: anima2;
  animation-duration: 2.4s;
  /* TELEFONO GRANDE */
  /* TELEFONO CHICO */
}
@media only screen and (max-width: 415px) {
  .titulo {
    font-size: 6rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 360px) {
  .titulo {
    font-size: 5rem;
    margin-top: 0.5rem;
  }
}

.logo {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0rem;
  margin-bottom: 0rem;
  grid-area: lo;
  animation-name: anima1;
  animation-duration: 2s;
}

.subtitulo {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  font-family: "bluecobralaser";
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 1rem;
  text-align: center;
  margin-top: 0rem;
  color: #050505;
  grid-area: su;
  animation-name: anima2;
  animation-duration: 2.4s;
  /* TELEFONO GRANDE */
  /* TELEFONO CHICO */
}
@media only screen and (max-width: 415px) {
  .subtitulo {
    font-size: 1.8rem;
    letter-spacing: 0.3rem;
  }
}
@media only screen and (max-width: 360px) {
  .subtitulo {
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
  }
}

.nosotres {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  font-family: "bluecobraital";
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-decoration: none;
  color: #050505;
  padding: 0rem;
  opacity: 90%;
  text-align: left;
  margin-top: 1rem;
  margin-left: 1rem;
  grid-area: no;
  animation-name: anima3;
  animation-duration: 2.9s;
  /* TELEFONO GRANDE */
  /* TELEFONO CHICO */
}
@media only screen and (max-width: 415px) {
  .nosotres {
    margin-top: 0.2rem;
    margin-right: -1rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 360px) {
  .nosotres {
    margin-top: 0.1rem;
    margin-right: -4rem;
    font-size: 1.5rem;
  }
}

.nosotres:hover {
  -webkit-text-decoration: overline underline #ed0000;
          text-decoration: overline underline #ed0000;
}

.catalogo {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  font-family: "bluecobraleft";
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 0.5rem;
  text-decoration: none;
  color: #050505;
  padding: 0rem;
  opacity: 90%;
  text-align: right;
  margin-top: 1rem;
  margin-right: 1rem;
  grid-area: ca;
  animation-name: anima3;
  animation-duration: 2.9s;
  /* TELEFONO GRANDE */
  /* TELEFONO CHICO */
}
@media only screen and (max-width: 415px) {
  .catalogo {
    margin-top: 0.2rem;
    margin-left: -4rem;
    font-size: 2rem;
  }
}
@media only screen and (max-width: 360px) {
  .catalogo {
    margin-top: 0.1rem;
    margin-left: -2rem;
    font-size: 1.5rem;
  }
}

.catalogo:hover {
  -webkit-text-decoration: overline underline #ed0000;
          text-decoration: overline underline #ed0000;
}

.contacto {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  font-family: "bluecobra";
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-decoration: none;
  color: #050505;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  grid-area: co;
  animation-name: anima3;
  animation-duration: 2.9s;
  /* TELEFONO GRANDE */
  /* TELEFONO CHICO */
}
@media only screen and (max-width: 415px) {
  .contacto {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 360px) {
  .contacto {
    margin-top: 0.2rem;
    font-size: 1rem;
  }
}

.contacto:hover {
  -webkit-text-decoration: overline #ed0000;
          text-decoration: overline #ed0000;
}

/* -------------- FOOTER -------------- */
.contenedor-footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  margin: 0rem;
  padding: 0rem;
  background-color: #050505;
  text-align: center;
  grid-area: fo;
}
@media only screen and (max-width: 415px) {
  .titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .titulo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .logo {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .logo {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .subtitulo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .subtitulo {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .nosotres {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .nosotres {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .catalogo {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
  }
  .catalogo {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .contacto {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .contacto {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
  .contenedor-footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  .contenedor-footer {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
  }
}

#facebook {
  width: 2rem;
  opacity: 50%;
  background-color: #050505;
  margin-top: 15%;
  /* TELEFONO GRANDE */
}
@media only screen and (max-width: 415px) {
  #facebook {
    width: 2.5rem;
    margin-top: 30%;
  }
}

#instagram {
  width: 2rem;
  opacity: 50%;
  background-color: #050505;
  margin-top: 15%;
  /* TELEFONO GRANDE */
}
@media only screen and (max-width: 415px) {
  #instagram {
    width: 2.5rem;
    margin-top: 30%;
  }
}

.facebook {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.instagram {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

/* -------------- ANIMACIONES -------------- */
@keyframes anima1 {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes anima2 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
@keyframes anima3 {
  0% {
    opacity: 0%;
  }
  50% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}