@font-face {
    font-family: 'bluecobra';
    src: url('../font/bluecobra.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'bluecobrahalf';
    src: url('../font/bluecobrahalf.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'bluecobralaser';
    src: url('../font/bluecobralaser.ttf');
    font-style: normal;
    font-weight: normal;
}

$font-titular: 'bluecobrahalf';
$font-secundaria: 'bluecobra';
$font-terciaria: 'bluecobralaser';
$naranja: #ff6100;
$rojo: #ed0000;
$negro: #050505;

body {
    background-color: #ff6100;
    margin: 0%;
    margin-bottom: 0%;
}