/* -------------- MAIN -------------- */
.titulo-nosotres {
    font-family: $font-titular;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0rem;
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: 1rem; 
    grid-area: ti-no;
        animation-name: nos-anima1;
        animation-duration: 4s;
            /* TELEFONO */
            @media only screen and (max-width: 415px) {
                font-size: 6rem;
            }
}

.subtitulo-nosotres {
    font-family: $font-secundaria;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
    grid-area: su-no;
        animation-name: nos-anima1;
        animation-duration: 4s;
            /* TELEFONO */
            @media only screen and (max-width: 415px) {
                font-size: 2rem;
            }
}

.logo-nosotres {
    display: block;
    margin-left: auto;
    margin-right: auto;
    grid-area: lo-no;
        animation-name: nos-anima2;
        animation-duration: 4s;
}

.texto-nosotres {
    font-family: $font-texto-nosotres;
    font-size: 1.3rem;
    font-weight: 300;
    color: $naranja;
    background-color: $negro;
    border-radius: 1rem;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    font-size: 1rem;
                }
}

#parrafo-nosotres1 {
    grid-area: p1;
    padding: 1rem;
    margin-right: -13rem;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    text-align: center; 
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
}

#parrafo-nosotres2 {
    grid-area: p2;
    text-align: center;
    padding: 1rem;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
}

#parrafo-nosotres3 {
    grid-area: p3;
    padding: 1rem;
    margin-left: -13rem;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    text-align: center; 
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
}

#parrafo-nosotres4 {
    grid-area: p4;
    padding: 1rem;
    text-align: center;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
}

#parrafo-nosotres5 {
    grid-area: p5;
    padding: 1rem;
    margin-right: -13rem;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    text-align: center; 
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
}

#parrafo-nosotres6 {
    grid-area: p6;
    text-align: center;
    padding: 0.2rem;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    margin-left: 1rem;
                    margin-right: 1rem;
                }
}

/* -------------- PRE-FOOTER -------------- */

.link-nosotres-catalogo {
    font-family: $font-izquierda;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    opacity: 80%;
    text-decoration: none;
    color: $negro;
    margin-left: 5rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    grid-area: li-no-ca;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    text-align: center;
                    margin-right: 0rem;
                    margin-left: 0.5rem;
                    margin-top: 1rem;
                }
}

.link-nosotres-catalogo:hover {
    text-decoration: overline underline #ed0000;
}

.link-nosotres-contacto {
    font-family: $font-derecha;
    font-size: 2rem;
    letter-spacing: 0.5rem;
    opacity: 80%;
    text-decoration: none;
    color: $negro;
    margin-right: 5rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
    grid-area: li-no-co;
                /* TELEFONO */
                @media only screen and (max-width: 415px) {
                    text-align: center;
                    margin-right: 0rem;
                    margin-left: 0rem;
                    margin-bottom: 0rem;
                }
}

.link-nosotres-contacto:hover {
    text-decoration: overline underline #ed0000;
}

/* -------------- FOOTER -------------- */

.contenedor-footer-nosotres {
    margin: 0rem;
    padding: 0rem;
    background-color: $negro;
    text-align: center;
    grid-area: fo;
}

#facebook {
    width: 2rem;
    opacity: 50%;
    background-color: $negro;
    margin-top: 15%;
        /* TELEFONO */
        @media only screen and (max-width: 415px) {
            width: 2.5rem;
            margin-top: 30%;
        }
}

#instagram {
    width: 2rem;
    opacity: 50%;
    background-color: $negro;
    margin-top: 15%;
        /* TELEFONO */
        @media only screen and (max-width: 415px) {
            width: 2.5rem;
            margin-top: 30%;
        }
}

.facebook {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.instagram {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------- ANIMACIONES -------------- */

@keyframes nos-anima1 {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes nos-anima2 {
    0% {opacity: 0%;}
    50% {opacity: 80%;}
    100% {opacity: 100%;}
}